/* Define style for top navigation bar */
.topnav {
  background-color: white;
  overflow: hidden;
  color: black;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  width: 96%;
  opacity: 90%;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

/* Lines to separate the navbar from the page body, with fading transition */
#nav-separator {
  padding-top: 65px;
  margin-left: 3%;
  margin-right: 3%;
  border-bottom: 1px solid #A11313;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

#nav-separator-bottom {
  padding-top: 8px;
  margin-left: 4%;
  margin-right: 4%;
  border-bottom: 1px solid #A11313;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.fade {
  opacity: 0;
}

.active {
  opacity: 1;
}

/* Define global text style */
body {
  font-family: 'Roboto', sans-serif;
  color: #5C0F0F;
  margin-bottom: 10%;
}

a {
  text-decoration: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #A11313;
  text-align: center;
  padding: 15px 15px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  float: right;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 640 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 640px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .title {
    font-size: 40px;
  }
}

/* Added when user clicks on the icon. Displays links vertically instead of horizontally. */
@media screen and (max-width: 640px) {
  .topnav.responsive a.icon {
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .pullUp.responsive a:before
  {
      position: absolute;
      height: 100%;
      width: 0px;
      right: 0px;
      left: 100%;
      bottom: 0px;
      content: '';
      background: #F5C5C2;
      border-radius: 10px;
      opacity: 0.3;
      transition: all 0.5s;
      transition-timing-function: ease-out;
  }

  .pullUp.responsive a:hover:before
  {
      width: 100%;
      left: 0;
  }
}

/* Pull up  */
div.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #F5C5C2;
    border-radius: 10px;
    opacity: 0.3;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}

div.pullUp a:hover:before
{
    height: 100%;
}

/* main headers */
h1 {
  font-size: 56px;
  font-weight: 900;
}

.main-content {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10px;
}

.my-gallery img {
  max-width: 100%;
  height: 275px;
  width: auto;
}

/* Make sure images aren't squished on small screens */
@media screen and (max-width: 640px) {
  .my-gallery img {
    height: auto;
  }
}

/* Do not display caption on gallery images until they are zoomed into on the lightbox */
.my-gallery figcaption {
  display: none;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 7px 7px 0;
}

.project-block {
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}


/* Make main Software page responsive by using 2 columns on large screen sizes only */
.proj-desc {
  font-style: italic; 
  font-weight: lighter;
}

/* Want images to always preserve aspect ratio and be vertically centered with the text */
.left {
  margin-right: 15px;
  flex: 1;
  max-width: 600px;
  align-items: flex-start;
  height: auto;
  justify-content: center;
  display: flex;
}

.left img:hover {
  opacity: 80%;
}

/* Images shoud be vertically centered with the text */
.right {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Style the brief project descriptions */
.right h3 {
  font-size: 50px;
  font-size: 3em;
  color: #A11313;
}

.right h6 {
  font-size: 20px;
  font-size: 1.5em;
  margin-top: -25px;
  margin-bottom: -20px;
}

.right p {
  font-size: 30px;
  font-size: 2em;
}

.right h3 a {
  text-decoration: none;
  color: #A11313;
}

.right p a {
  text-decoration: none;
  color: #5C0F0F;
}

.title a {
  text-decoration: none;
  color: #5C0F0F;
}

@media only screen and (max-width:1100px) {
  .right h3 {
    font-size: 42px;
  }

  .right p {
    font-size: 18px;
  }
}

@media screen and (max-width:1200px) {
  .left {
    max-width: 100%;
  }
}

@media only screen and (min-width:640px) {
  .project-block {
    display: flex;
  }
}

/* Style the "Back" link within specific project pages */
.back {
  font-size: 40px;
}

.back a {
  text-decoration: none;
  color: #5C0F0F;
}

/* Style items inside project container */
.proj-container {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
}

#proj-title {
  margin-bottom: -15px;
  font-size: 56px;
  color: #A11313;
}

.proj-container p {
  font-size: 20px;
}

.proj-container a {
  color: #F37D3A;
}

.proj-container h3 {
  font-size: 32px;
  color: #A11313;
  margin-bottom: -10px;
}

.proj-container h5 {
  font-size: 20px;
  margin-bottom: -10px;
}

/* For inline descriptions where the text wraps around */
.left-img-block img {
  margin-top: 20px;
  max-width: 100%;
}

.left-img-block img:hover {
  opacity: 100%;
}

@media only screen and (min-width:1150px) {
  .left-img-block {
    display: flex;
    align-items: flex-start;
  }
}